<div class="container-table">

  <div class="table-content">
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th>#</th>

          <th>
            <input type="checkbox" disabled>
          </th>
          <th *ngFor="let header of tableHeaders">
            <ng-container *ngIf="header === 'imageUrl' || header === 'valueImg' ">
              Image
            </ng-container>
            <ng-container *ngIf="header === 'isActive'">
              Is Active
            </ng-container>
            <ng-container *ngIf="header === 'createdAt'">
              Created At
            </ng-container>
            <ng-container *ngIf="header === 'dateOfBirth'">
              Date Of Birth
            </ng-container>
            <ng-container *ngIf="header === 'updatedAt'">
              Updated At
            </ng-container>
            <ng-container *ngIf="header === 'parentsID'">
              Parents ID
            </ng-container>
            <ng-container *ngIf="header === 'parentsName'">
              Parents Name
            </ng-container>
            <ng-container *ngIf="header === 'createdBy'">
              Created By
            </ng-container>
            <ng-container *ngIf="header === 'updatedBy'">
              Updated By
            </ng-container>
            <ng-container *ngIf="header === 'firstName'">
              First Name
            </ng-container>
            <ng-container *ngIf="header === 'lastName'">
              Last Name
            </ng-container>
            <ng-container *ngIf="header === 'valueName'">
              Image Name
            </ng-container>
            <ng-container *ngIf="
                                header !== 'imageUrl'
                             && header !== 'isActive'
                             && header !== 'parentsID'
                             && header !== 'parentsName'
                             && header !== 'dateOfBirth'
                             && header !== 'firstName'
                             && header !== 'lastName'
                             && header !== 'valueName'
                             && header !== 'valueImg'
                             && header !== 'createdBy'&& header !== 'updatedBy'

                             && header !== 'createdAt' && header !== 'updatedAt'
                             && header !== 'dateOfBirth'">
              {{ header }}
            </ng-container>

          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of tableData; let i = index">
          <td (click)="toggleCheckbox(item)">{{i + 1}}</td>
          <td (click)="toggleCheckbox(item)">
            <input type="checkbox" [checked]="item.checked" style="margin-top: 5px;">
          </td>
          <td *ngFor="let header of tableHeaders">


            <ng-container *ngIf="header === 'imageUrl' || header === 'valueImg'">
              <ng-container *ngIf="typeImage === 'categories'">
                <img *ngIf="item[header]" [src]="'http://localhost:8080/uploads/images/categories/'+item[header]"
                  alt="Image" class="avatar rounded-circle" style="width: 50px; height: 50px;">
              </ng-container>

              <ng-container *ngIf="typeImage === 'products'">
                <img *ngIf="item[header]" [src]="'http://localhost:8080/uploads/images/products/'+item[header]"
                  alt="Image" class="avatar rounded-circle" style="width: 50px; height: 50px;">
              </ng-container>
              <ng-container *ngIf="typeImage === 'coupons'">
                <img *ngIf="item[header]" [src]="'http://localhost:8080/uploads/images/coupons/' +item[header]"
                  alt="Image" class="avatar rounded-circle" style="width: 50px; height: 50px;">
              </ng-container>


              <ng-container *ngIf="typeImage === 'colors'">
                <img *ngIf="item[header]" [src]="'http://localhost:8080/uploads/images/products/colors/'+item[header]"
                  alt="Image" class="avatar rounded-circle" style="width: 50px; height: 50px;">
              </ng-container>



            </ng-container>

            <ng-container *ngIf="header === 'isActive'">
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked"
                  (change)="changeActive(item)" [checked]="item[header]">
              </div>
            </ng-container>

            <ng-container *ngIf="header === 'totalPrice'">
              {{ (item[header] | currency:'VND':'') }} VNĐ
            </ng-container>



            <ng-container
              *ngIf="header === 'orderTime' || header === 'createdAt' || header === 'updatedAt'|| header === 'dateOfBirth'">

              {{ item[header] | date:'dd-MM-yyyy' }}

            </ng-container>

            <ng-container *ngIf=" header !== 'paymentMethod' && header !== 'orderTime' && header !== 'totalPrice' && header !== 'imageUrl' && header !== 'valueImg' && header !== 'isActive' && header !== 'createdAt' &&
              header !== 'updatedAt'&& header !== 'dateOfBirth'">
              {{ item[header] }}
            </ng-container>

            <ng-container *ngIf="header === 'button'">
              <div class="button-container">
                <button type="button" [routerLink]="[routerLinkString, item.id]"
                  [routerLinkActive]="activeRouterLinkString" class="button-89" role="button">Edit</button>
                <button type="button" (click)="eventClickDelete(item.id)" class="button-89"
                  role="button">Delete</button>
              </div>
            </ng-container>

            <ng-container *ngIf="header === 'add'">
              <div class="button-container">
                <button type="button" (click)="eventClickAdd(item.id)" class="button-89" role="button">Add</button>
              </div>
            </ng-container>

            <ng-container *ngIf="header === 'delete'">
              <div class="button-container">
                <button type="button" (click)="eventClickDelete(item.id)" class="button-89"
                  role="button">Remove</button>
              </div>
            </ng-container>


            <!--            <ng-container *ngIf="header === 'button-order'">-->
            <!--              <div class="button-container">-->
            <!--                <button type="button" [routerLink]="[routerLinkString, item.id]"-->
            <!--                  [routerLinkActive]="activeRouterLinkString" class="button-89" role="button">Edit</button>-->
            <!--                <button type="button" [routerLink]="[routerLinkStringView, item.id]"-->
            <!--                  [routerLinkActive]="activeRouterLinkString" class="button-89" role="button">View</button>-->
            <!--              </div>-->
            <!--            </ng-container>-->


            <ng-container *ngIf="header === 'button-order'">
              <div class="button-container">
                <button type="button" [routerLink]="[routerLinkStringView, item.orderId]"
                  [routerLinkActive]="activeRouterLinkString" class="button-89">Edit</button>

                <button type="button" [routerLink]="[routerLinkStringView, item.orderId]"
                  [routerLinkActive]="activeRouterLinkString" class="button-89">View</button>
              </div>
            </ng-container>

            <ng-container *ngIf="header === 'button-transfer'">
              <div class="button-container">
                <button type="button" [routerLink]="[routerLinkStringView, item.id]"
                  [routerLinkActive]="activeRouterLinkString" class="button-89">Detail</button>
              </div>
            </ng-container>

            <ng-container *ngIf="header === 'colors-product' && colorMap.get(item.id)?.length !== 0">
              <div *ngIf="colorMap.get(item.id) as colorImages">
                <img *ngFor="let img of colorImages"
                  [src]="'http://localhost:8080/uploads/images/products/colors/' + img" [alt]="img"
                  style="width: 40px; height: 40px; margin-right: 5px;">
              </div>
            </ng-container>

            <ng-container *ngIf="header === 'sizes'">
              {{ dataSizes(item.id) }}
            </ng-container>

            <ng-container *ngIf="header === 'promotions'">
              <ng-container *ngIf="(dataPromotion(item.id) | async) as detailProduct">
                <ng-container *ngIf="detailProduct.promotion !== null">
                  <div class="promotion-container" style="padding-left: 20px;">
                    <span class="start-date">
                      {{ detailProduct.promotion?.startDate | date:'dd/MM/yyyy HH:mm' }}
                    </span>
                    <span class="end-date">
                      {{ detailProduct.promotion?.endDate | date:'dd/MM/yyyy HH:mm' }} <br>
                    </span>
                    <span class="description-date"> {{ detailProduct.promotion?.description }}</span>
                  </div>
                </ng-container>
                <ng-container *ngIf="detailProduct.promotion === null">
                  <p style="font-weight: 600;">None</p>
                </ng-container>
              </ng-container>
            </ng-container>





          </td>

        </tr>

      </tbody>

    </table>
    <ng-container *ngIf="changePage">
      <div class="card-footer py-4 d-flex justify-content-between align-items-center flex-wrap">
        <!-- ComboBox -->
        <div class="mb-2">
          <label for="itemsPerPageSelect" class="form-label me-2">Items per page:</label>
          <select (change)="onItemsPerPageChange($event)">
            <option [selected]="itemsPerPage === 5" value="5">5</option>
            <option [selected]="itemsPerPage === 10" value="10">10</option>
            <option [selected]="itemsPerPage === 20" value="20">20</option>
            <option [selected]="itemsPerPage === 50" value="50">50</option>
            <option [selected]="itemsPerPage === 100" value="100">100</option>
          </select>
          
        </div>
      
        <!-- Pagination -->
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-end mb-0">
            <li class="page-item" [class.disabled]="currentPage === 0">
              <a class="page-link" (click)="setPage(0)">«</a>
            </li>
            <li class="page-item" [class.disabled]="currentPage === 0">
              <a class="page-link" (click)="setPage(currentPage - 1)">‹</a>
            </li>
      
            <li class="page-item" *ngFor="let page of visiblePages"
                [class.active]="currentPage === page">
              <a class="page-link" (click)="setPage(page)">{{ page + 1 }}</a>
            </li>
      
            <li class="page-item" [class.disabled]="currentPage >= totalPages - 1">
              <a class="page-link" (click)="setPage(currentPage + 1)">›</a>
            </li>
            <li class="page-item" [class.disabled]="currentPage >= totalPages - 1">
              <a class="page-link" (click)="setPage(totalPages - 1)">»</a>
            </li>
          </ul>
        </nav>
      </div>
      

    </ng-container>
  </div>

</div>