<div class="container">
  <h2>Đổi mật khẩu</h2>
  <h3>Khi thay đổi mật khẩu yêu cầu đăng nhập lại</h3>
  <div class="form-group">
    <label class="form-label fw-bold">{{ "MẬT KHẨU HIỆN TẠI" | translate }}</label>
    <div class="input-group">
      <input class="form-control"
             name="currentPassword"
             [type]="showCurrentPassword ? 'text' : 'password'"
             [(ngModel)]="currentPassword"
             required minlength="6"
             #currentPasswordCtrl="ngModel" />
      <button type="button" class="btn btn-outline-secondary" (click)="toggleCurrentPasswordVisibility()">
        <i class="fa" [ngClass]="showCurrentPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
      </button>
    </div>

    <div *ngIf="currentPasswordCtrl.touched && currentPasswordCtrl.invalid" class="error mt-2">
      <div *ngIf="currentPasswordCtrl.errors?.['required']" class="text-danger">
        {{ "Vui lòng nhập mật khẩu hiện tại." | translate }}
      </div>
      <div *ngIf="currentPasswordCtrl.errors?.['minlength']" class="text-danger">
        {{ "Mật khẩu phải có ít nhất 6 ký tự." | translate }}
      </div>
    </div>
  </div>


  <div class="form-group">
    <label class="form-label fw-bold">{{ "MẬT KHẨU MỚI" | translate }}</label>
    <input class="form-control"
           name="newPassword"
           [type]="showPassword ? 'text' : 'password'"
           [(ngModel)]="newPassword"
           required pattern="^(?=.*[A-Z])(?=.*\d)[A-Za-z\d]{6,}$"
           #newPasswordCtrl="ngModel" />
    <div *ngIf="newPasswordCtrl.touched && newPasswordCtrl.invalid" class="error mt-2">
      <div *ngIf="newPasswordCtrl.errors?.['required']" class="text-danger">{{ "Vui lòng nhập mật khẩu mới." | translate }}</div>
      <div *ngIf="newPasswordCtrl.errors?.['pattern']" class="text-danger">{{ "Mật khẩu phải có ít nhất 6 ký tự, gồm chữ hoa và số." | translate }}</div>
    </div>
  </div>

  <div class="form-group">
    <label class="form-label fw-bold">{{ "XÁC NHẬN MẬT KHẨU" | translate }}</label>
    <input class="form-control"
           name="retypePassword"
           [type]="showPassword ? 'text' : 'password'"
           [(ngModel)]="retypePassword"
           required
           (blur)="validateRetypePassword()"
           #retypePasswordCtrl="ngModel" />
    <div *ngIf="retypePasswordCtrl.touched && retypePasswordCtrl.invalid" class="error mt-2">
      <div *ngIf="retypePasswordCtrl.errors?.['required']" class="text-danger">{{ "Vui lòng nhập lại mật khẩu." | translate }}</div>
    </div>
    <div *ngIf="passwordMismatch" class="text-danger">{{ "Mật khẩu nhập lại không khớp." | translate }}</div>
  </div>
  <div>
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
           (click)="togglePassword()">
    <label class="form-check-label text-black" for="flexCheckDefault">
      {{ "Hiên mật khẩu." | translate }}
    </label>
  </div>

  <button class="btn btn-primary mt-3" (click)="onChangePassword()">Thay đổi mật khẩu</button>

  <p *ngIf="message" class="text-danger mt-2">{{ message }}</p>
</div>
