.product-card {
  max-width: 100%;
  border: none;
}

.product-image {
  width: 80%
}

.product-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  display: block;
}

.product-details {
  margin-top: 15px;
  width: 32rem;
}

.product-details h6 {
  font-size: 0.9rem;
  font-weight: bold;
}

.product-item-priceSale {
  font-weight: 700;
  color: red;
}

.price {
  font-size: 1.25rem;
  font-weight: bold;
  color: #000;
}

ul {
  list-style: none;
  padding: 0;
}

.product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.product-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 0 10px 0;

}

.title-color {
  font-size: 1.2rem;
  font-weight: 700;
}


.color-picker-list {
  display: flex;
  gap: 12px;
  /* Khoảng cách giữa các màu */
  padding: 0;
  margin: 0;
}

/* Từng item màu sắc */
.color-item {
  position: relative;
}

/* Radio input (ẩn đi) */
.color-input {
  display: none;
}

/* Khi được chọn */
.color-input:checked+.color-label {
  border: 2px solid #fff;
  /* Loại bỏ viền cũ */
  box-shadow: 0 0 0 2px #000;
  /* Tạo khoảng cách với viền đen */
  transition: box-shadow 0.2s ease-in-out;
}

/* Khi được chọn */
.size-picker .color-input:checked+.fr-chip-label {
  background-color: #000;
  /* Nền đen */
  color: #fff;
  /* Chữ trắng */
  border: 2px solid #fff;
  /* Loại bỏ viền cũ */
  box-shadow: 0 0 0 2px #000;
  /* Tạo khoảng cách với viền đen */
  transition: box-shadow 0.2s ease-in-out;
}


/* Label hiển thị màu */
.color-label {
  width: 50px;
  height: 50px;
  display: block;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  border: 1px solid #ccc;
  /* Viền mặc định */
  transition: border-color 0.2s ease-in-out;
}

.search-variant{
  display: flex;
}
.search-variant span{
  margin-right: 4px;
  border-radius: 20px;

  padding: 7px 9px 5px 11px;
  border: 1px solid #c0c1c2;

}
.search-variant span:hover{
  cursor: pointer;
background-color: rgb(239, 96, 99);
color: white;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:disabled {
  background: #ccc;
  cursor: not-allowed;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.search-variant input {
  width: 91%;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #c0c1c2;
}
.search-variant .input-height {
  width: 72%;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #c0c1c2;
  margin-bottom: 20px;
  margin-left: 30px;
}
.input-height{
  padding-left: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.input-variant {
  padding-left: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Khi được chọn */
.color-input:checked+.color-label {
  border: 2px solid #fff;
  /* Loại bỏ viền cũ */
  box-shadow: 0 0 0 2px #000;
  /* Tạo khoảng cách với viền đen */
  transition: box-shadow 0.2s ease-in-out;
}

.color-label:hover {
  border: 3px solid #fff;
  /* Loại bỏ viền cũ */
  box-shadow: 0 0 0 1px #818181;
  /* Tạo khoảng cách với viền đen */
  transition: box-shadow 0.2s ease-in-out;
}

.variant-all {
  height: 60vh;
  overflow: auto;
  /* Hiển thị thanh cuộn khi cần thiết */
}

.variantItem {
  cursor: pointer;
  position: relative;
  /* Để phần tử giả ::after có thể định vị */
  transition: background-color 0.3s ease-in-out;
  background-color: white;
}



.variantItem::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  /* Màu trong suốt ban đầu */
  transition: background-color 0.3s ease-in-out;
  border-radius: 20px;

}

.variantItem:hover::after {
  background-color: rgba(144, 144, 144, 0.2);
  /* Lớp phủ nhẹ khi hover */
}
.pr_varaint_select{
  padding: 3px 5px 3px 5px;
  border: 1px solid black;
  margin-left: 2px;
  font-weight: 500;
  font-size: 0.8rem;
}
@media (max-width: 1200px) {

  //.product-details {
  //  width: 25rem;
  //}
  .product-card {
    flex-direction: row !important;
    align-items: center;
    margin-top: 5px;
  }

  .product-details {
    width: auto;
    margin-left: 15px;
  }
}

@media (max-width: 992px) {

  //.product-details {
  //  width: 19rem;
  //}
  .product-card {
    flex-direction: row !important;
    align-items: center;
    margin-top: 5px;
  }

  .product-details {
    width: auto;
    margin-left: 15px;
  }
}

@media (max-width: 768px) {
  .product-card {
    flex-direction: row !important;
    align-items: center;
    margin-top: 5px;
  }

  .product-image img {
    width: 150px;
    max-width: 100%;
  }

  .product-details {
    width: auto;
    margin-left: 15px;
  }

  /* Bộ chọn màu */
  .color-picker-list {
    flex-wrap: wrap;
    /* Hiển thị dạng dòng khi không đủ chỗ */
    gap: 8px;
    /* Giảm khoảng cách giữa các màu */
  }

}