/* Lớp nền mờ */
// .modal-backdrop {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background: rgba(0, 0, 0, 0.5);
//     z-index: 999;
//     opacity: 0;
//     animation: fade-in 0.3s forwards;
// }

/* Hộp modal */
/* Hiệu ứng xuất hiện từ phải sang trái */

body.modal-open {
  overflow: hidden; /* Chặn cuộn trang */
  height: 100vh; /* Giữ nguyên kích thước trang */
}


/* CSS chung của modal */
.modal-container {
  position: fixed;
  top: 10%;
  right: 1%;
  width: 19%;
  background: linear-gradient(to right, #ca0b00, #ff4736); /* Đỏ → Nhạt hơn */
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(255, 24, 9, 0.2);
  z-index: 1100;
  opacity: 0;
  animation: slide-in 0.5s forwards;
  display: flex;
}

.icon-content{
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Khi modal ẩn đi */
.modal-container.hide {
  animation: slide-out 0.5s forwards;
}


/* Nội dung modal */
.modal-content {
  color: white;
  padding: 12px 5px 6px 15px;
  text-align: left;
}
.modal-content span{
  font: 600 1.3rem/1.2  "Kanit", sans-serif;

}
.modal-content p{
  padding-top: 10px;
  font: 400 0.9rem/1.2  "Kanit", sans-serif;

}



@keyframes slide-in {
  from{
    transform: translateX(100%);
    opacity: 0;
  }
  to{
    transform: translateX(0%);
    opacity: 1;
  }

}
@keyframes slide-out {
  from{
    transform: translateX(0);
    opacity: 1;
  }
  to{
    transform: translateX(100%);
    opacity: 0;
  }
}
