<!--<div *ngIf="showSuccessMessage" class="alert alert-success" role="alert">-->
<!--  {{message}}-->
<!--</div>-->

<app-model-notify-succsess [isModalOpenaa]="notifySuccsess" />
<app-modal-notify-error [isModalOpen]="notifyError"/>
<div class="container-fluid">
  <div class="background-box">
    <!-- <img src="../../../assets/images/backgroundCart.jpeg" alt=""> -->
    <div class="overlay"></div>
  </div>
  <div class="content-box">
    <div class=" cart-layout">

      <div class="cart-title">
        <i class="fa-solid fa-cart-shopping"> </i>
        <h2> {{ "GIỎ HÀNG" | translate }} </h2>
      </div>
      <div class="cart-allProduct">
        <p class="clear-cart" style="color: black; margin-left: 20px; " (click)="clearCart()"><i
          class="fa-solid fa-square-xmark"></i>{{ 'Xóa giỏ hàng' | translate }}</p>

        <!-- render product cart -->

        <ng-container *ngIf="cartItems.length === 0 ">
          <div class="cart-product-item d-flex justify-content-center" style="height: 60vh; ">
            <img
              src="https://static.vecteezy.com/system/resources/previews/005/006/007/non_2x/no-item-in-the-shopping-cart-click-to-go-shopping-now-concept-illustration-flat-design-eps10-modern-graphic-element-for-landing-page-empty-state-ui-infographic-icon-vector.jpg"
              width="50%" alt="">
          </div>
        </ng-container>


        <ng-container *ngIf="cartItems.length !== 0 ">
          <div class="cart-product-item" *ngFor="let cart of cartItems ">

            <div class="item-layout-image">
              <div class="product-item-image">
                <img
                  [src]="'http://localhost:8080/uploads/images/products/' + getProductDetailByProductVariantId(cart.productVariantId)?.variantImage"
                  alt="Image">
              </div>
            </div>
            <div class="item-layout-infor">
              <p class="item-name"> {{ getProductDetailByProductVariantId(cart.productVariantId)?.name }}</p>
              <div class="item-inforColorSizeQty">
                <div style="flex: 4;">
                  <p class="item-size">
                    <span>{{ "Màu sắc:" | translate }} <span class="text-size-color">{{
                        getProductDetailByProductVariantId(cart.productVariantId)?.color }}</span>
                    </span>
                  </p>
                  <p class="item-color">
                    <span>{{ "Kích thước:" | translate }} <span class="text-size-color">MEN
                      {{ getProductDetailByProductVariantId(cart.productVariantId)?.size }}</span>
                    </span>
                  </p>
                </div>
                <div style="flex: 6;">
                  <div class="input-group input-group-qty ">
                    <span class="input-group-text btn-group-qty" (click)="reduceQty(cart.quantity,cart.id,
                                    getProductDetailByProductVariantId(cart.productVariantId)?.productId ?? 0,
                                    getProductDetailByProductVariantId(cart.productVariantId)?.colorId ?? 0,
                                    getProductDetailByProductVariantId(cart.productVariantId)?.sizeId ?? 0)
                                        ">
                      <i class="fa-solid fa-minus"></i>
                    </span>
                    <input class="input-qty" (change)="updateQtyCart(cart.id,getInputValue($event),
                                    getProductDetailByProductVariantId(cart.productVariantId)?.productId ?? 0,
                                    getProductDetailByProductVariantId(cart.productVariantId)?.colorId ?? 0,
                                    getProductDetailByProductVariantId(cart.productVariantId)?.sizeId ?? 0)"
                           [value]="cart.quantity" [name]="cart.id" type="number">
                    <span class="input-group-text btn-group-qty" (click)="redoubleQty(cart.quantity,cart.id,
                                    getProductDetailByProductVariantId(cart.productVariantId)?.productId ?? 0,
                                    getProductDetailByProductVariantId(cart.productVariantId)?.colorId ?? 0,
                                    getProductDetailByProductVariantId(cart.productVariantId)?.sizeId ?? 0)
                                        ">
                      <i class="fa-solid fa-plus"></i>
                    </span>
                  </div>

                </div>
              </div>
              <div class="item-inforPrice_btnRemove">
                <span class="item-btnRemove" (click)="deleteCart(cart.id)"><a>{{
                    "Xóa" | translate
                  }}</a></span>
                <div class="item-price">
                  <span class="textTotal">
                    <span>Giá: </span>
                    <p style="line-height: 1;padding-top: 4px;">
                      <!-- Nếu basePrice == = salePrice, chỉ hiển thị giá gốc -->

                      <span
                        *ngIf=" getProductDetailByProductVariantId(cart.productVariantId)?.basePrice  === getProductDetailByProductVariantId(cart.productVariantId)?.salePrice"
                        class="product-item-priceInit">
                        {{
                          getCurrencyPrice(getProductDetailByProductVariantId(cart.productVariantId)?.basePrice
                            ?? 0, currentCurrencyDetail?.rateToBase ??
                            1, currentCurrencyDetail?.code ?? '')
                        }}

                      </span>
                      <!-- Nếu basePrice > salePrice, hiển thị cả hai giá -->
                      <span
                        *ngIf="getProductDetailByProductVariantId(cart.productVariantId)?.basePrice != getProductDetailByProductVariantId(cart.productVariantId)?.salePrice">


                        <span class="product-item-priceSale" style="color: red;">

                          {{
                            getCurrencyPrice(getProductDetailByProductVariantId(cart.productVariantId)?.salePrice
                              ?? 0, currentCurrencyDetail?.rateToBase ??
                              1, currentCurrencyDetail?.code ?? '')
                          }}

                        </span>
                        <br>
                        <span class="product-item-priceInit" style="text-decoration: line-through;">
                          {{
                            getCurrencyPrice(getProductDetailByProductVariantId(cart.productVariantId)?.basePrice
                              ?? 0, currentCurrencyDetail?.rateToBase ??
                              1, currentCurrencyDetail?.code ?? '')
                          }}

                        </span>

                      </span><br>

                    </p>



                  </span>
                  <!-- <ng-container *ngIf="product.promotion?.isActive != null && product.promotion?.isActive">
                    <div class="product-item-coupon">
                      <span>{{ "Giảm giá hết thời hạn" | translate }}  {{ product.promotion?.endDate | date:'dd/MM/yyyy, hh:mm a' }}</span>


                    </div>
                  </ng-container> -->
                </div>
                <div class="item-price-subtotal">Tổng: <span class="textTotal">
                    <ng-container
                      *ngIf="getProductDetailByProductVariantId(cart.productVariantId)?.basePrice == getProductDetailByProductVariantId(cart.productVariantId)?.salePrice">

                      {{
                        getCurrencyPrice((getProductDetailByProductVariantId(cart.productVariantId)?.basePrice
                          ?? 0) * cart.quantity, currentCurrencyDetail?.rateToBase ??
                          1, currentCurrencyDetail?.code ?? '')
                      }}


                    </ng-container>
                    <ng-container
                      *ngIf="getProductDetailByProductVariantId(cart.productVariantId)?.basePrice != getProductDetailByProductVariantId(cart.productVariantId)?.salePrice">


                      {{
                        getCurrencyPrice((getProductDetailByProductVariantId(cart.productVariantId)?.salePrice
                          ?? 0) * cart.quantity, currentCurrencyDetail?.rateToBase ??
                          1, currentCurrencyDetail?.code ?? '')
                      }}
                    </ng-container>

                  </span>
                </div>
              </div>
            </div>

          </div>
        </ng-container>

        <div class="cart-order">
          <div class="priceBill">
            <p class="total-decor-bold"><span>{{ "TỔNG SỐ LƯỢNG" | translate }} </span>  <span>
              {{totalCartQty()}} {{ "SẢN PHẨM" | translate }}</span></p>
            <hr>
            <ng-container *ngIf="appliedCoupon">
              <p class="total-decor">
                <span>{{ "MÃ GIẢM GIÁ" | translate }} ({{ appliedCoupon.code }})</span>
                <span>
                  <ng-container *ngIf="appliedCoupon.discountType === 'PERCENTAGE'">
                    -{{ appliedCoupon.discountValue }}%
                    ( {{
                      getCurrencyPrice(getDiscountAmount(),
                        currentCurrencyDetail?.rateToBase ?? 1,
                        currentCurrencyDetail?.code ?? '')
                    }})
                  </ng-container>
                  <ng-container *ngIf="appliedCoupon.discountType === 'FIXED'">
                    -{{
                      getCurrencyPrice(appliedCoupon.discountValue ?? 0,
                        currentCurrencyDetail?.rateToBase ?? 1,
                        currentCurrencyDetail?.code ?? '')
                    }}
                  </ng-container>
                </span>
              </p>
              <hr>
            </ng-container>
            <!-- <p class="total-decor"> <span>{{ "KHẤU TRỪ" | translate }} </span> <span>20,000 VND </span> </p> -->
            <p class="total-decor"><span>{{ "TỔNG TIỀN" | translate }} </span> <span>

                {{
                getCurrencyPrice(getTotalAfterDiscount() ?? 0, currentCurrencyDetail?.rateToBase ??
                  1, currentCurrencyDetail?.code ?? '')
              }}


              </span>
            </p>
            <hr>
            <p class="total-decor-bold"><span>{{ "TỔNG HÓA ĐƠN" | translate }} </span> <span> {{
                getCurrencyPrice(getTotalAfterDiscount()
                  ?? 0, currentCurrencyDetail?.rateToBase ??
                  1, currentCurrencyDetail?.code ?? '')
              }}
              </span></p>
          </div>
          <nav class="fr-transition-btn-cards">
            <ul class="fr-link-wrapper" [routerLink]="['../coupon']">
              <li class="btn">
                <button style="text-decoration: none">
                  <div class="fr-link-wrapper fr-flbox middle"><span class="block-icon"><span class="mr-xxs"><span
                    class="fr-icon coupon" aria-hidden="true" style="font-size: 24px;"></span></span><span
                    class="text">Phiếu giảm giá</span><span
                    style="position: absolute; right: 0px; top: calc(50% - 12px);"><span class="fr-icon"
                                                                                         aria-hidden="true" style="font-size: 24px;"><svg xmlns="http://www.w3.org/2000/svg"
                                                                                                                                          viewBox="0 0 24 24" width="24" height="24">
                            <path fill="#757575" fill-rule="evenodd">
                            </path>
                          </svg></span></span></span>
                  </div>
                </button>
              </li>
            </ul>
          </nav>
          <!--                    <div class="priceBill">-->
          <!--                        <p class="total-decor-bold-coupon" style="margin: 0;-->
          <!--                        align-items: center; min-width: 100px;-->
          <!--                        "> <span class="coupon-item"> {{ "MÃ GIẢM" | translate }} </span> <span-->
          <!--                                class="iput-coupon-item"> <input type="text"> </span> </p>-->
          <!--                    </div>-->


          <div class="priceBill">
            <div class="btnBuyCart slide_leftbtnBuyCart" [routerLink]="['../checkout']"> {{
                "MUA NGAY" |
                  translate
              }}
            </div>
            <!-- <span class="hr-element-decor"><hr>or <hr></span -->
            <hr>
            <div class="btnBuyToContinue slide_leftbtnBuyToContinue" [routerLink]="['../product']">{{
                "TIẾP TỤC MUA SẮM" | translate
              }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
