
<div class="modal-container" *ngIf="isModalOpenaa || isFadingOut" [ngClass]="{'hide': isFadingOut}">

  <div class="icon-content"><i class="fa-solid fa-circle-check " style="color: white; font-size: 50px;"></i>  </div>
  <div class="modal-content">
    <span> {{ 'Hoàn Thành' | translate}} </span>
    <p>{{'Đăng kí Thành Công' | translate}}!</p>
    <p>{{'Vui lòng xác thực email' | translate}}!</p>
  </div>
</div>


<!-- <div class="d-flex justify-content-between">
            <button class="btn-content btn-login"
             >ĐĂNG NHẬP</button>
            <button class="btn-content btn-closes" (click)="closeModal()">HỦY </button>
        </div> -->
