<app-header-admin [title_header]="'Edit Product'" />


<router-outlet></router-outlet>

<div class="container">
  <div class="row">
    <!-- Product Images (Left Section) -->
    <div class="col-md-4 pe-5 ps-0">
      <div class="row ">
        <!-- <div class="col-6 position-relative p-0 " *ngIf="colorImage">
          <img [src]="getImageProduct(colorImage.mediaUrl)">
          <a [routerLink]="['/client', currentCurrency, currentLang,'imageDetail',colorImage.id]" class="image-icon"
            *ngIf="colorImage.hasVariants">
            <i class="fa-solid fa-mountain-sun"></i>
          </a>

        </div> -->

        <div class="row mt-2 g-2"> <!-- g-2 giúp giảm khoảng cách giữa ảnh -->
          <button class="btn-save" *ngIf="previewUrls.length !==0 " (click)="addImage()">SAVE IMAGE</button>
          <div *ngFor="let url of previewUrls; let i = index" class="col-3 position-relative">
            <div class="position-relative">
              <img [src]="url" class="img-fluid rounded border shadow-sm"
                style="width: 100%; height: auto; padding: 5px;">

              <!-- Nút X để xóa ảnh -->
              <button (click)="removeImage(i)" class="btn   btn-sm position-absolute"
                style="top: 5px; right: 5px; border-radius: 50%;">
                ❌
              </button>
            </div>
          </div>
        </div>


        <div class="col-6 position-relative p-0 product-variant-edit"
          style="background-repeat: no-repeat;
               background-size: 90% 90%; background-image: url('https://static.thenounproject.com/png/187803-200.png');" (click)="fileInput.click()">
          <input type="file" #fileInput class="d-none" (change)="onFileSelected($event)" multiple>
        </div>


        <video class="col-6 p-0" *ngFor="let video of dataVideoProduct" autoplay loop>
          <source [src]="'http://localhost:8080/uploads/images/products/' + video.mediaUrl" type="video/mp4">
          Trình duyệt của bạn không hỗ trợ phát video.
        </video>

        <div class="col-6 position-relative p-0 product-variant-edit" *ngFor="let img of dataImagesProduct ">
          <a [routerLink]="['/admin/edit_productVariant/', img.id, productId]">
            <img [src]="getImageProduct(img.mediaUrl)" class="img-fluid" style="width: 100%; height: auto;">
          </a>

          <!-- Nút X để xóa ảnh -->
          <button (click)="removeImageproduct(img.id)" class="btn  btn-sm position-absolute"
            style="top: 5px; right: 5px; border-radius: 50%;">
            ❌
          </button>
        </div>



        <!-- <div class="col-6 position-relative">
            <img src="https://image.uniqlo.com/UQ/ST3/vn/imagesgoods/456261/sub/vngoods_456261_sub7_3x4.jpg?width=369" alt="Model Pose 2" class="img-fluid rounded">
            <a [routerLink]="['../imageDetail']" class="image-icon">
              <i class="fa-solid fa-mountain-sun"></i>
            </a>
          </div> -->
        <!-- {{getImageProduct()}} -->
        <!-- <div *ngFor="let item of dataImagesProduct">{{item.mediaUrl}}</div> -->
        <!-- <div class="col-6" *ngFor="let image of dataImagesProduct">
            <img [src]="image.mediaUrl" [alt]="image.mediaType" class="img-fluid rounded">
          </div>
         -->
      </div>

    </div>
    <!-- Product Details (Right Section) -->
    <div class="col-md-8">
      <button class="btn btn-outline-primary" (click)="openModal()">Edit Category</button>

      <div class="product-details sticky-top z-0">
        <!--        product-name-->
        <button class="btn-save" (click)="updateProduct()">SAVE PRODUCT</button>

        <div class="product-names  " style="background-color: #f5f5f5;">
          <!-- Tên sản phẩm -->
          <h3 class="product-title fw-normal">{{dataDetailsProduct?.name}}</h3>

          <!-- <label class="flex-1">Base Price</label> -->
          <input [(ngModel)]="basePrice" type="number" class="form-control"
            style="width: 30%; margin: 10px 10px 10px 0;" placeholder="Base Price" required>
          <div class="d-flex">
            <span class="me-3">Is Active : </span>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked"
                [checked]="dataDetailsProduct?.isActive" (change)="onCheckboxChange($event)">


            </div>
          </div>

        </div>
        <div>
          <!--        product-color-->
          <div class="color-picker" style="background-color: #f5f5f5;">
            <dl class="color-picker-list">
              <div (click)="openPopupColor()" class="color-item-add">
                <img src="https://img.icons8.com/?size=100&id=24717&format=png&color=000000" width="35" alt="Add Icon">
              </div>
              <div class="popup-color" *ngIf="isOpenColor">
                <div class="popup-content-color">
                  <span (click)="closePopupColor()" class="close-btn">&times;</span>
                  <h2>Select Color</h2>
                  <div class="selected-color">
                    <div class="list-color ">
                      <div class="d-flex item-color-select">
                        <div class="img-color mb-1" *ngFor="let selectColorItem of selectedColors"> <img
                            style="border-radius: 1px;"
                            [src]="'http://localhost:8080/uploads/images/products/colors/' + selectColorItem.valueImg"
                            width="36" height="36" alt=""></div>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-center align-items-center ">
                    <input class="input-search-color" [(ngModel)]="searchColor" (input)="filterColors()" type="text">
                    <!-- <button class="btn-confirm-search" (click)="insertVariantsColor()">ADD</button> -->
                  </div>

                  <div class="box-color ">
                    <!-- --render color  -->
                    <div class="d-flex item-color" *ngFor="let color of dataColorPoup; let i = index">
                      <input class="check-color" type="checkbox" (change)="toggleColorSelection(color, $event)"
                        [checked]="isColorSelected(color)" [id]="'color-' + i">
                      <!-- Nhãn hoạt động như một div -->
                      <label class="d-flex w-100 align-items-center" [for]="'color-' + i"
                        style="cursor: pointer; padding: 5px;">
                        <!-- Hình ảnh -->
                        <div class="img-color">
                          <img style="border-radius: 1px;"
                            [src]="'http://localhost:8080/uploads/images/products/colors/' + color.valueImg" width="36"
                            height="40" alt="">
                        </div>

                        <!-- Tên màu -->
                        <div class="d-flex align-items-center justify-content-center"
                          style="height: 100%; margin-left: 24px; padding: 0; max-width: 60px;">
                          <span class="text-color-name">{{ color.valueName }}</span>
                        </div>
                      </label>
                    </div>
                  </div>
                  <div class="pagination">
                    <button (click)="prevPageColor()" [disabled]="pageNoCorlor === 0">Prev</button>
                    <span> {{ pageNoCorlor + 1 }} / {{ totalPagesColor }}</span>
                    <button (click)="nextPageColor()" [disabled]="pageNoCorlor >= totalPagesColor - 1">Next</button>
                  </div>
                </div>
              </div>


              <div class="color-item" *ngFor="let color of dataColors" [attr.data-test]="color.valueName">
                <dt>
                  <input type="radio" [value]="color.id" name="product-color-picker"
                    [id]="'product-color-picker' + color.id" class="color-input" (click)="selectColor(color)"
                    [checked]="color.id === selectedColorId">

                  <label class="color-label" [for]="'product-color-picker' + color.id"
                    [style.backgroundImage]="'url(' + getImageColor(color.valueImg) + ')'">

                  </label>
                </dt>
              </div>
              <div class="color-item pt-1" *ngIf="selectedColors.length !== 0">
                <i class="fa-solid fa-tent-arrow-turn-left"></i>

              </div>

              <div class="color-item" *ngFor="let color of selectedColors" [attr.data-test]="color.valueName">
                <dt>
                  <input type="radio" [value]="color.id" name="product-color-picker"
                    [id]="'product-color-picker' + color.id" class="color-input" (click)="selectColor(color)"
                    [checked]="color.id === selectedColorId">

                  <label class="color-label" [for]="'product-color-picker' + color.id"
                    [style.backgroundImage]="'url(' + getImageColor(color.valueImg) + ')'">

                  </label>
                </dt>
              </div>


            </dl>


            <p class="color-selected" *ngIf="salePrice !== 0">
              <span>
                Sale Price for {{ selectedColorName }}
                <input style="border-radius: 30px;" type="text" [(ngModel)]="salePrice"
                >
              </span>

              <span class="coupon-pesent" *ngFor="let discount of discounts; let i = index"
                (click)="toggleDiscount(discount, i)" [class.disabled]="selectedDiscountIndex === i">
                {{ discount }}%
              </span>
              <span class="mt-4">
                <button   (click)="updateSalePrice(productId ?? 0, selectedColorId, salePrice)" class="btn-save w-25">Save Sale Price</button>
              </span>
            </p>


          </div>
          <!--            product-size-->
          <div class="size-picker mt-2" style="background-color: #f5f5f5;">
            <dl class="size-picker-list">
              <!-- Popup chọn kích thước -->
              <div class="popup-size" *ngIf="isOpenSize">
                <div class="popup-content-size">
                  <span (click)="closePopupSize()" class="close-btn">&times;</span>
                  <h2>Select Size</h2>
                  <div class="selected-size">
                    <div class="list-size">
                      <div class="d-flex item-size-select">
                        <div class="size-box" *ngFor="let selectedSizeItem of selectedSizes">
                          <span class="name-size"> {{ selectedSizeItem.valueName }}</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="d-flex justify-content-center align-items-center">
                    <input class="input-search-size" [(ngModel)]="searchSize" (input)="filterSizes()" type="text">
                    <!-- <button class="btn-confirm-search">ADD</button> -->
                  </div>


                  <div class="box-color ">
                    <!-- --render Size  -->
                    <div class="  d-flex item-color" *ngFor="let size of dataSizePoup; let i = index">
                      <!-- Input Checkbox -->
                      <input class="check-color" type="checkbox" (change)="toggleSizeSelection(size, $event)"
                        [checked]="isSizeSelected(size)" [id]="'size-' + i">




                      <!-- Nhãn hoạt động như một div -->
                      <label class="d-flex w-100 align-items-center" [for]="'size-' + i"
                        style="cursor: pointer; padding: 5px;">


                        <!-- Tên màu -->
                        <div class="d-flex align-items-center justify-content-center"
                          style="height: 100%; margin-left: 24px; padding: 0; max-width: 60px;">
                          <span class="text-color-name">{{ size.valueName }}</span>
                        </div>
                      </label>
                    </div>





                  </div>
                  <div class="pagination">
                    <button (click)="prevPageSize()" [disabled]="pageNoSize === 0">Prev</button>
                    <span> {{ pageNoSize + 1 }} / {{ totalPagesSize }}</span>
                    <button (click)="nextPageSize()" [disabled]="pageNoSize >= totalPagesSize - 1">Next</button>
                  </div>
                </div>
              </div>



              <!-- Hiển thị danh sách kích thước -->


              <div class="size-picker" style="background-color: #f5f5f5;">
                <div class="btn-group flex-wrap gap-2" role="group">
                  <div class="size-item">
                    <!-- Radio button -->
                    <input type="radio" class="btn-check" name="product-size-picker" [id]="'product-size-picker' ">

                    <!-- Nhãn hiển thị kích thước -->
                    <div (click)="openPopupSize()" class="color-item-add">
                      <img src="https://img.icons8.com/?size=100&id=24717&format=png&color=000000" width="35"
                        alt="Add Icon">
                    </div>

                  </div>
                  <div class="size-item" *ngFor="let size of dataSizes" [attr.data-test]="size.valueName">
                    <!-- Radio button -->
                    <input type="radio" class="btn-check" [value]="size.id" name="product-size-picker"
                      [id]="'product-size-picker' + size.valueName" (click)="selectSize(size)"
                      [checked]="size.id === selectedSizeId && !isSizeOutOfStock(size)"
                      [disabled]="isSizeOutOfStock(size)">

                    <!-- Nhãn hiển thị kích thước -->
                    <label class="btn btn-outline-dark size-label" [for]="'product-size-picker' + size.valueName"
                      [ngClass]="{'ignore': isSizeOutOfStock(size)}">
                      {{ size.valueName }}
                    </label>
                  </div>

                  <div class="size-item pt-1" *ngIf="selectedSizes.length !== 0">
                    <i class="fa-solid fa-tent-arrow-turn-left"></i>
                  </div>

                  <div class="size-item" *ngFor="let size of selectedSizes" [attr.data-test]="size.valueName">
                    <!-- Radio button -->
                    <input type="radio" class="btn-check" [value]="size.id" name="product-size-picker"
                      [id]="'product-size-picker' + size.valueName" (click)="selectSize(size)"
                      [checked]="size.id === selectedSizeId && !isSizeOutOfStock(size)"
                      [disabled]="isSizeOutOfStock(size)">

                    <!-- Nhãn hiển thị kích thước -->
                    <label class="btn btn-outline-dark size-label" [for]="'product-size-picker' + size.valueName"
                      [ngClass]="{'ignore': isSizeOutOfStock(size)}">
                      {{ size.valueName }}
                    </label>
                  </div>



                </div>
              </div>
            </dl>
            <!-- <p class="size-selected">Size {{selectedSizeName}}</p> -->
          </div>
          <div class="size-picker" style="background-color: #f5f5f5;" *ngIf="selectedColors.length !==0 && selectedSizes.length !==0
                  || selectedColors.length ===0 && selectedSizes.length !==0
                   || selectedColors.length !==0 && selectedSizes.length ===0
          
          ">
            <button class="btn-save" (click)="insertVariantsColor()">SAVE COLOR & SIZE</button>
          </div>

          <div class="product-details sticky-top z-0 " style="background-color: #f5f5f5;">
            <div class="details">
              <div class="row">
                <div class="col-12 input-name">
                  <label>Name</label>
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>

            <div class="product-name">
              <div class="d-flex align-items-end justify-content-end mt-2">
                <h5 class="colorTitle">PRODUCT NAME</h5>
              </div>
              <hr>
              <div class="row">
                <div class="col-4 input-name" *ngFor="let lang of dataLanguage">
                  <label *ngIf="lang.code === 'vi'"> <img
                      src="https://img.icons8.com/?size=100&id=60257&format=png&color=000000" width="30" alt=""> {{
                    lang.name }} Name</label>
                  <label *ngIf="lang.code === 'en'"> <img
                      src="https://img.icons8.com/?size=100&id=18212&format=png&color=000000" width="30" alt=""> {{
                    lang.name }} Name</label>
                  <label *ngIf="lang.code === 'jp'"> <img
                      src="https://img.icons8.com/?size=100&id=22435&format=png&color=000000" width="30" alt=""> {{
                    lang.name }} Name</label>
                  <input type="text" class="form-control" [(ngModel)]="getTranslationByCodeName(lang.code).name"
                    [attr.name]="lang.code" [placeholder]="lang.name" required>
                </div>
              </div>
            </div>

            <div class="product-name">
              <div class="d-flex align-items-end justify-content-end mt-2">
                <h5 class="colorTitle">PRODUCT DESCRIPTION</h5>
              </div>

              <hr>
              <div class="row">
                <div class="col-4 input-name" *ngFor="let lang of dataLanguage">
                  <label *ngIf="lang.code === 'vi'"> <img
                      src="https://img.icons8.com/?size=100&id=60257&format=png&color=000000" width="30" alt=""> {{
                    lang.name }} Description</label>
                  <label *ngIf="lang.code === 'en'"> <img
                      src="https://img.icons8.com/?size=100&id=18212&format=png&color=000000" width="30" alt=""> {{
                    lang.name }} Description</label>
                  <label *ngIf="lang.code === 'jp'"> <img
                      src="https://img.icons8.com/?size=100&id=22435&format=png&color=000000" width="30" alt=""> {{
                    lang.name }} Description</label>
                  <textarea class="form-control" [(ngModel)]="getTranslationByCodeDescription(lang.code).name"
                    [attr.name]="lang.code" [placeholder]="lang.name" required rows="4"></textarea>
                </div>
              </div>
            </div>

            <div class="product-name">
              <div class="d-flex align-items-end justify-content-end mt-2">
                <h5 class="colorTitle">PRODUCT MATERIAL</h5>
              </div>

              <hr>

              <div class="row">
                <div class="col-4 input-name" *ngFor="let lang of dataLanguage">
                  <label *ngIf="lang.code === 'vi'"> <img
                      src="https://img.icons8.com/?size=100&id=60257&format=png&color=000000" width="30" alt=""> {{
                    lang.name }} Material</label>
                  <label *ngIf="lang.code === 'en'"> <img
                      src="https://img.icons8.com/?size=100&id=18212&format=png&color=000000" width="30" alt=""> {{
                    lang.name }} Material</label>
                  <label *ngIf="lang.code === 'jp'"> <img
                      src="https://img.icons8.com/?size=100&id=22435&format=png&color=000000" width="30" alt=""> {{
                    lang.name }} Material</label>
                  <textarea class="form-control" [(ngModel)]="getTranslationByCodeMaterial(lang.code).name"
                    [attr.name]="lang.code" [placeholder]="lang.name" required rows="4"></textarea>
                </div>
              </div>
            </div>
            <div class="product-name">
              <!-- Tiêu đề -->
              <div class="d-flex align-items-end justify-content-end mt-2">
                <h5 class="colorTitle">PRODUCT <span>CARE</span> </h5>
              </div>

              <hr>

              <div class="row">
                <div class="col-4 input-name" *ngFor="let lang of dataLanguage">
                  <label *ngIf="lang.code === 'vi'"> <img
                      src="https://img.icons8.com/?size=100&id=60257&format=png&color=000000" width="30" alt=""> {{
                    lang.name }} Care</label>
                  <label *ngIf="lang.code === 'en'"> <img
                      src="https://img.icons8.com/?size=100&id=18212&format=png&color=000000" width="30" alt=""> {{
                    lang.name }} Care</label>
                  <label *ngIf="lang.code === 'jp'"> <img
                      src="https://img.icons8.com/?size=100&id=22435&format=png&color=000000" width="30" alt=""> {{
                    lang.name }} Care</label>
                  <textarea class="form-control" [(ngModel)]="getTranslationByCodeCare(lang.code).name"
                    [attr.name]="lang.code" [placeholder]="lang.name" required rows="4"></textarea>
                </div>
              </div>
            </div>




            <!-- <div class="product-name" [class.active]="expandedStates['description']">
                <div class="d-flex align-items-end justify-content-end mt-2" (click)="toggleDetails('description')">
                    <h5>PRODUCT DESCRIPTION</h5>
                </div>
                <hr>
                <div class="details" *ngIf="expandedStates['description']">
                    <div class="row">
                        <div class="col-12 input-name" *ngFor="let lang of dataLanguage">
                            <label>{{ lang.name }} Description</label>
                            <textarea class="form-control" [(ngModel)]="getTranslationByCode(lang.code).name"
                                [attr.name]="lang.code" [placeholder]="lang.name" required rows="4"></textarea>
                        </div>
                    </div>
                </div>
            </div> -->



            <div>
              <!--        product-color-->
              <!-- <div class="color-picker" style="background-color: #f5f5f5;">
                    <dl class="color-picker-list">
                        <div class="color-item" *ngFor="let color of dataColors" [attr.data-test]="color.valueName">
                            <dt>
                                <input type="radio" [value]="color.id" name="product-color-picker"
                                    [id]="'product-color-picker' + color.id" class="color-input"
                                    (click)="selectColor(color)" [checked]="color.id === selectedColorId">

                                <label class="color-label" [for]="'product-color-picker' + color.id"
                                    [style.backgroundImage]="'url(' + getImageColor(color.valueImg) + ')'">

                                </label>
                            </dt>
                        </div>


                    </dl>
                    <p class="color-selected">{{ "Màu sắc:" | translate }} {{selectedColorName}}</p>
                </div> -->
              <!--            product-size-->
              <!-- <div class="size-picker" style="background-color: #f5f5f5;">
                    <div class="btn-group flex-wrap gap-2" role="group">
                        <div class="size-item" *ngFor="let size of dataSizes" [attr.data-test]="size.valueName">
                            <input type="radio" class="btn-check" [value]="size.id" name="product-size-picker"
                                [id]="'product-size-picker' + size.valueName" (click)="selectSize(size)">

                            <label class="btn btn-outline-dark size-label"
                                [for]="'product-size-picker' + size.valueName">
                                {{ size.valueName }}
                            </label>
                        </div>
                    </div>
                </div> -->

            </div>


            <!------------------------END--------------------->
          </div>
        </div>


        <!------------------------END--------------------->
      </div>
    </div>
  </div>
</div>