<app-header-admin title_header="Category" title_btn="Add Item"
  routerLinkString="/admin/edit_category"></app-header-admin>
<div class="d-flex">
  <div class="select-box">
    <div class="content-fiter-tools">
      <div class="tools-title" (click)="resetFiter()">
        <i class="fa-solid fa-sort"></i>
        <span>Filter</span>
      </div>
      <div class="tool-elements  ">
        <select class="form-select" [(ngModel)]="isActive" (change)="onIsActiveChange()">
          <option [value]="null" selected>--</option>
          <option [value]="true">Active</option>
          <option [value]="false">Non Avtive</option>
        </select>

      </div>

      <div class="item-category-select  " style=" width:80%;">

        <div class=" row">
          <!-- Chọn Category Parent -->
          <div class="col-md-4">
            <!-- <label class="form-label">Category Parent</label> -->
            <div class="custom-select">
              <div class="selected-item" (click)="isOpenCategoryParent = !isOpenCategoryParent">
                <span *ngIf="selectedCategoryParent">
                  <img
                    [src]="selectedCategoryParent.image ? selectedCategoryParent.image : 'https://as1.ftcdn.net/v2/jpg/04/34/72/82/1000_F_434728286_OWQQvAFoXZLdGHlObozsolNeuSxhpr84.jpg'"
                    alt="{{ selectedCategoryParent.name }}" width="30" />
                  {{ selectedCategoryParent.name }}
                </span>
                <span *ngIf="!selectedCategoryParent" style="width: 100%;">
                  <img src="https://img.icons8.com/?size=100&id=qJfY9WJ3Qpuk&format=png&color=000000" width="25 "
                    alt="Default" />
                  Find Category Child
                </span>
              </div>
              <div class="dropdown" *ngIf="isOpenCategoryParent">
                <input type="text" [(ngModel)]="searchTextCategoryParent" placeholder="Tìm kiếm category..." />
                <ul>
                  <li *ngFor="let category of filteredCategoriesParent()" (click)="selectCategoryParent(category)">
                    <img
                      [src]="category.image ?'http://localhost:8080/uploads/images/categories/' + category.image :'https://as1.ftcdn.net/v2/jpg/04/34/72/82/1000_F_434728286_OWQQvAFoXZLdGHlObozsolNeuSxhpr84.jpg'"
                      alt="{{ category.name }}" width="30" />
                    {{ category.name }}
                  </li>
                </ul>
              </div>
            </div>
          </div>



          <!-- Chọn Category Child -->
          <div class="col-md-4" *ngIf="categoryChildren && categoryChildren.length > 0">
            <!-- <label class="form-label">Category Child</label> -->
            <div class="custom-select">
              <div class="selected-item" (click)="isOpenCategoryChild = !isOpenCategoryChild">
                <span *ngIf="selectedCategoryChild">
                  <img
                    [src]="selectedCategoryChild.image ? 'http://localhost:8080/uploads/images/categories/'+selectedCategoryChild.image : 'https://as1.ftcdn.net/v2/jpg/04/34/72/82/1000_F_434728286_OWQQvAFoXZLdGHlObozsolNeuSxhpr84.jpg'"
                    alt="{{ selectedCategoryChild.name }}" width="30" />
                  {{ selectedCategoryChild.name }}
                </span>
                <span *ngIf="!selectedCategoryChild" style="width: 100%;">
                  <img src="https://img.icons8.com/?size=100&id=qJfY9WJ3Qpuk&format=png&color=000000" width="25"
                    alt=" " />
                  Find Category Child
                </span>
              </div>
              <div class="dropdown" *ngIf="isOpenCategoryChild">
                <input type="text" [(ngModel)]="searchTextCategoryChild" placeholder="Tìm kiếm category..." />
                <ul>
                  <li *ngFor="let category of filteredCategoriesChild()" (click)="selectCategoryChild(category)">
                    <img
                      [src]="category.image ? 'http://localhost:8080/uploads/images/categories/'+ category.image :'https://as1.ftcdn.net/v2/jpg/04/34/72/82/1000_F_434728286_OWQQvAFoXZLdGHlObozsolNeuSxhpr84.jpg'"
                      alt="{{ category.name }}" width="30" />
                    {{ category.name }}
                  </li>
                </ul>
              </div>
            </div>
          </div>


          <div class="col-md-4" *ngIf="categorySubChildren && categorySubChildren.length > 0">
            <!-- <label class="form-label">Category Sub Child</label> -->
            <div class="custom-select">
              <div class="selected-item" (click)="isOpenCategorySubChild = !isOpenCategorySubChild">
                <span *ngIf="selectedCategorySubChild">
                  <img [src]="'http://localhost:8080/uploads/images/categories/'+selectedCategorySubChild.image"
                    alt="{{ selectedCategorySubChild.name }}" width="30" />
                  {{ selectedCategorySubChild.name }}
                </span>
                <span *ngIf="!selectedCategorySubChild" style="width: 100%;">
                  <img src="https://img.icons8.com/?size=100&id=qJfY9WJ3Qpuk&format=png&color=000000" width="25"
                    alt=" " />
                  Find Category Child
                </span>
              </div>
              <div class="dropdown" *ngIf="isOpenCategorySubChild">
                <input type="text" [(ngModel)]="searchTextCategorySubChild" placeholder="Tìm kiếm category..." />
                <ul>
                  <li *ngFor="let category of filteredCategoriesSubChild()" (click)="selectCategorySubChild(category)">
                    <img [src]="'http://localhost:8080/uploads/images/categories/'+category.image"
                      alt="{{ category.name }}" width="30" />
                    {{ category.name }}
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>










</div>
<div style="padding: 0 10px 0 10px;margin-top: 10px;margin-bottom: 10px;">
  <hr style="border: 0.2px solid black; margin: 0;">

</div>

<div class="row">
  <div class="col-10">
    <div class="tool-searchs row">
      <div class="col-1 mt-2 ps-4 " style="cursor: pointer;" (click)="deleteCategories()"><img
          src="https://img.icons8.com/?size=100&id=gq8yzmdS4C7D&format=png&color=000000" width="50" alt=""></div>
      <div class="col-9" style="margin-left: 4px;">
        <div class="search-product">
          <input type="text" [(ngModel)]="nameSearch" name="nameSearch" (ngModelChange)="onNameChange($event)"
            placeholder=" Search Category Name">
        </div>
      </div>
      <div class="col-1">
        <div class="search-product">
          <input type="text" style="font-size: 10px;" [(ngModel)]="parentId" name="parentId" disabled
            placeholder="Parent Id">
        </div>
      </div>

    </div>

  </div>
  <div class="col-2" style="text-align: end;padding-right: 20px;">
    <strong>
      SORT </strong>

    <div class="sortBox">
      <!-- <div class="search-product">
        <input type="text" [(ngModel)]="parentIdSearch" name="parentIdSearch"
          (ngModelChange)="searchParentIdCategory($event)" placeholder=" Search Parent Id">
      </div> -->



      <div class="element-select ms-1 ">
        <select style="height: 30px;" [(ngModel)]="sortBy" (change)="onCreateAtChange()">
          <option [value]="'id'" selected>Id</option>
          <!-- <option [value]="'name'">Sort by Name</option> -->
          <option [value]="'createdAt'">Created At</option>
        </select>
      </div>

      <div class="element-select d-flex justify-content-end   ">
        <select class=" " [(ngModel)]="sortDir" (change)="onSortDirChange()">
          <option [value]="'asc'" selected>&uarr;</option>
          <option [value]="'desc'" selected>&darr;</option>
        </select>
      </div>

    </div>
  </div>
</div>



<app-table *ngIf="dataPageCategory" [currentPage]="page" [tableData]="dataPageCategory?.content?.flat() || []"
  [dataPage]="dataPageCategory"   [typeImage]="'categories'" [tableHeaders]="headers"   (itemsPerPageChanged)="onItemsPerPageChange($event)"
  [routerLinkString]="'/admin/edit_category'" [eventClickDelete]="deleteCategory" [toggleCheckbox]="toggleCheckbox"
  [changeActive]="changeActive" (pageChanged)="onPageChange($event)">
</app-table>