<header [ngClass]="{
    'header-home': isHome || !isSearchActive,
    'bg-white': !isHome || isSearchActive
  }" class="position-fixed w-100 py-2" style="z-index: 1000; top: 0;">
  <div class="container-fluid d-flex align-items-center justify-content-around">
    <!-- Logo -->
    <div class="logo text-center" style="width: 157.57px;">
      <h5 [ngClass]="{
          'text-black': !isHome || isSearchActive
          }" class="" style="cursor: pointer" [routerLink]="['/client', currentCurrency, currentLang]">BRAND</h5>
    </div>
    <!-- Navigation -->
    <ul class="nav nav-underline d-none d-md-flex justify-content-center align-items-center" style="font-weight: 500">
      <li *ngFor="let category of categoriesParent" class="nav-item">
        <a [ngClass]="{
          'text-white': !isSearchActive,
          'text-black': isSearchActive
          }" class="head-title nav-link text-center" (click)="onCategoryClick(category.id)">{{ category.name }}</a>
      </li>
    </ul>
    <!-- Icons -->
    <div class="d-flex align-items-center">

      <div class="dropdown">
        <button class="btn notif-btn position-relative" type="button" data-bs-toggle="dropdown" aria-expanded="true">
          <i [ngClass]="{
          'text-black': !isHome || isSearchActive
          }" class="bi bi-bell"
          ></i>
          <span
            class="notif-badge"
            *ngIf="(totalNotify$ | async) !== 0"
          >
            {{ totalNotify$ | async }}
          </span>
        </button>
        <ul class="dropdown-menu notification-dropdown dropdown-menu-end p-2">
          <li *ngFor="let notify of notifications" class="notification-item">
            <img [src]="'http://localhost:8080/uploads/images/products/' + notify.imageUrl" alt="Miffy">
            <div>
              <p><strong>{{notify.title}}</strong></p>
              <span>{{notify.message}}</span>
            </div>
          </li>

          <li class="text-center py-2">
            <a [routerLink]="['/client', currentCurrency, currentLang,'notify']"
               class="text-black">{{ "Xem tất cả thông báo" | translate }}</a>
          </li>
        </ul>
      </div>
      <!-- Dropdown Menu language and currency -->
      <div class="dropdown">
        <button style="z-index: 100" class="head-icon head-icon-global btn mx-2 dropdown-toggle no-focus no-caret" type="button"
                (click)="toggleDropdown()" aria-expanded="false">
          <i [ngClass]="{
      'text-black': !isHome || isSearchActive
    }" class="bi bi-globe"></i>
        </button>
        <ul class="dropdown-menu dropdown-custom z-3" [ngClass]="{ 'show': languageDropdownVisible || currencyDropdownVisible }"
            (mouseover)="setHoverState(true)" (mouseleave)="setHoverState(false)">

          <!-- Language dropdown -->
          <li (mouseover)="setHoverState(true)" (mouseleave)="setHoverState(false)">
            <p class="dropdown-item" (click)="toggleLanguageDropdown()">
              Language
            </p>
            <ul *ngIf="languageDropdownVisible">
              <li *ngFor="let language of languageList">
                <p class="dropdown-item" href="javascript:void(0)" [ngClass]="{ 'active': currentLang === language.code }"
                   (click)="changeLanguage(language.code)">
                  {{ language.name | translate }}
                  <img src="http://localhost:8080/uploads/images/products/{{language.code}}.png" alt="" style="width: 30px; height: auto;"/>

                </p>
              </li>
            </ul>
          </li>

          <!-- Currency dropdown -->
          <li (mouseover)="setHoverState(true)" (mouseleave)="setHoverState(false)">
            <p class="dropdown-item" (click)="toggleCurrencyDropdown()">
              Currency
            </p>
            <ul *ngIf="currencyDropdownVisible">
              <li *ngFor="let currency of currencyList">
                <p class="dropdown-item" href="javascript:void(0)" [ngClass]="{ 'active': currentCurrency === currency.code }"
                   (click)="changeCurrency(currency.code)">
                  {{ currency.name }} ({{ currency.symbol }})
                  <i *ngIf="currentCurrency === currency.code" class="bi bi-check2 ms-2"></i>
                </p>
              </li>
            </ul>
          </li>

        </ul>
      </div>

      <!-- Other Icons -->
      <a [routerLink]="['/client', currentCurrency, currentLang, 'wishlist']" class="head-icon mx-2">
        <i [ngClass]="{
          'text-black': !isHome || isSearchActive
          }" class="bi bi-heart position-relative">
          <span *ngIf="(totalWishlist$ | async) !== 0"
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
            {{ totalWishlist$ | async }}
          </span>
        </i>
      </a>
      <a [routerLink]="['/client', currentCurrency, currentLang, 'cart']" [queryParams]="null"
        queryParamsHandling="merge" class="head-icon mx-2 ">
        <i [ngClass]="{
          'text-black': !isHome || isSearchActive
          }" class="bi bi-cart  position-relative">
          <span *ngIf="totalCartItems != 0 && totalCartItems != null"
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
              {{totalCartItems}}
          </span>
        </i>

      </a>
    </div>
  </div>
</header>
