
<app-header-admin title_header="Coupon" title_btn="Add Item"
                  routerLinkString="/admin/edit_coupon"></app-header-admin>

<div class="p-6 bg-gray-100 min-h-screen">
  <div class="flex justify-between items-center mb-4">
    <h1 class="text-xl font-bold">Coupon Management</h1>
    <a routerLink="/admin/edit_coupon" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600">
      Add Coupon
    </a>
  </div>

  <!-- 🔍 Search Filters -->
  <div class="bg-white shadow-md rounded-lg p-4 mb-4">
    <input [(ngModel)]="searchKeyword"
           (ngModelChange)="onSearch()"
           type="text"
           placeholder="Search anything..."
           class="p-2 border rounded w-full">
    <div class="custom-select">
      <div class="selected-item" (click)="isUserDropdownOpen = !isUserDropdownOpen">
        <span *ngIf="selectedUser">{{ selectedUser.email }} - {{ selectedUser.firstName }} {{ selectedUser.lastName }}</span>
        <span *ngIf="!selectedUser">Tìm kiếm theo khách hàng</span>
      </div>

      <div class="dropdown" *ngIf="isUserDropdownOpen">
        <input type="text"
               [(ngModel)]="searchUserKeyword"
               (input)="filterUsers()"
               placeholder="Search By User..."
               class="form-control"/>
        <ul>
          <button *ngIf="selectedUser" (click)="clearUserSelection()" class="clear-selection-btn">
            Xóa lựa chọn
          </button>

          <li *ngFor="let user of filteredUsers" (click)="selectUser(user)">
            {{ user.email }} - {{ user.firstName }} {{ user.lastName }}
          </li>
        </ul>
      </div>

    </div>


    <label for="expirationDate">Ngày hết hạn:</label>
    <input
      type="date"
      id="expirationDate"
      [(ngModel)]="selectedExpirationDate"
      (change)="onSearch()"
    />

    <button (click)="toggleSortExpirationDate()" class="btn-sort">
      Sort By ExpirationDate
      <span *ngIf="sortBy === 'expirationDate'">
    ({{ sortDirection === 'asc' ? '⬆️' : '⬇️' }})
  </span>
    </button>




  </div>





  <!-- Coupon Table -->

  <app-table *ngIf="coupons"
             [currentPage]="currentPage"
             [tableData]="coupons?.content?.flat() || []"
             [dataPage]="coupons"
             [tableHeaders]="['code', 'name','imageUrl','discountType','discountValue','minOrderValue', 'expirationDate','description','button' ]"
             [routerLinkString]="'/admin/edit_coupon'"
             (pageChanged)="onPageChange($event)"
             [typeImage] = "'coupons'"
        

  >
  </app-table>



</div>
