/* -----------------------
   Modal Backdrop (Lớp nền mờ)
-------------------------- */
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    opacity: 0;
    animation: fade-in 0.3s forwards;
  }
  
  /* -----------------------
     Modal Container (Hộp modal)
  -------------------------- */
  .modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30%;
    transform: translate(-50%, -50%) scale(0.8);
    background: #fff;
    color: #202020;
    padding: 20px;
    border-radius: 1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    opacity: 0;
    animation: fade-in 0.3s forwards, scale-in 0.3s forwards;
  }
  
  /* -----------------------
     Modal Content
  -------------------------- */
  .modal-content {
    text-align: left;
  }
  
  .modal-content span {
    font: 700 1rem/1.2 'Arial', sans-serif;
  }
  
  .modal-content p {
    padding-top: 20px;
    font: 400 0.8rem/1.2 'Kanit', sans-serif;
  }
  .modal-content pre {
    max-width: 200px;
    padding-top: 20px;
    font: 400 0.8rem/1.7 'Kanit', sans-serif;
    white-space: pre-wrap; /* Cho phép xuống dòng tự động */
    word-wrap: break-word; /* Ngắt từ nếu cần thiết */
  }
  
  /* -----------------------
     Button Styles
  -------------------------- */
  .btn-content {
    width: 49%;
    border: none;
    border-radius: 0;
    border: 1px solid #202020;
  }
  
  .btn-closes {
    color: #202020;
    background-color: #fff;
    font-weight: 600;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .btn-closes:hover {
    color: #fff;
    background-color: #202020;
  }
  
  .btn-login {
    position: relative;
    background-color: #202020;
    color: #fff;
    padding: 10px 20px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s ease;
  }
  
  .btn-login::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(227, 227, 227, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .btn-login:hover::after {
    opacity: 1;
  }
  
  /* -----------------------
     Animations
  -------------------------- */
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes scale-in {
    from {
      transform: translate(-50%, -50%) scale(0.8);
    }
    to {
      transform: translate(-50%, -50%) scale(1);
    }
  }
  