<div class="modal-backdrop" *ngIf="isModalOpen" (click)="onCancel()"></div>

<div class="modal-container" *ngIf="isModalOpen">
    <div class="modal-content">
        <span>CONFIRM</span>
        <pre style="max-width: 400px;">{{ data.message }}</pre>
        <div class="d-flex">
            <button mat-button mat-dialog-close="false" class="btn-content btn-login"
                (click)="onConfirm()">{{ (data?.confirm || 'DELETE') }}
            </button>
            <button mat-button mat-dialog-close="true" class="btn-content btn-closes"
                (click)="onCancel()">CLOSE</button>
        </div>
    </div>
</div>