<div class="d-flex justify-content-between">
  <div class="mb-4" style="width: 48%;">
    <label class="form-label mb-1 col-md-3">Store</label>
    <select class="form-select" [formControl]="storeFormControl" >
      <option *ngFor="let store of dataStore" [value]="store.id">
        {{ store.name }}
      </option>
    </select>
  </div>
</div>

<div class="d-flex justify-content-between mt-3">
  <h4 class="mt-3 ms-2 fw-bold">Total Revenue:
    {{ totalRevenueSum | currency:'VND':'' }} VND</h4>
  <div class="d-flex me-2">
    <mat-form-field appearance="fill" class="me-2">
      <mat-label>Start Date</mat-label>
      <input
        matInput
        [matDatepicker]="startDatePicker"
        [formControl]="startDate"
        [value]="startDate.value"
        readonly
      />
      <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker
        #startDatePicker
        startView="year"
        (monthSelected)="setStartMonth($event, startDatePicker)"
        panelClass="month-picker">
      </mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill" class="me-2">
      <mat-label>End Date</mat-label>
      <input
        matInput
        [matDatepicker]="endDatePicker"
        [formControl]="endDate"
        readonly
      />
      <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker
        #endDatePicker
        startView="year"
        (monthSelected)="setEndMonth($event, endDatePicker)"
        panelClass="month-picker">
      </mat-datepicker>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="fetchRevenueData()" style="height: 55px">
      Select
    </button>
  </div>
</div>

<div *ngIf="chartData.length > 0">
  <canvas
    baseChart
    [datasets]="chartData"
    [labels]="chartLabels"
    [options]="chartOptions"
    [legend]="chartLegend"
    [plugins]="chartPlugins"
    [type]="chartType"
  >
  </canvas>
</div>

<div *ngIf="chartData.length === 0">
  <p>No data available to display.</p>
</div>

<h3 class="mt-4">Revenue List by Month</h3>
<button class="btn btn-success me-2"
        (click)="exportRevenueByDateRange()"
>Export Excel</button>
<table class="table table-bordered mt-2">
  <thead>
  <tr>
    <th>Month</th>
    <th>Year</th>
    <th>Revenue</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of revenueList">
    <td>{{ item.month }}</td>
    <td>{{ item.year }}</td>
    <td>{{ item.totalRevenue | currency:'VND':'' }} VND</td>
    <td>
<!--      (click)="goToOrders(item.month, item.year)-->
      <button class="btn btn-primary me-2"
              (click)="goToOrders()"
      >View Orders</button>
      <button class="btn btn-secondary"
              (click)="goToDailyChart(item.month, item.year)"
      >Chart Detail</button>
    </td>
  </tr>
  </tbody>
</table>

<h4 class="mt-3 fw-bold d-flex justify-content-start">
  Total Revenue: {{ totalRevenueSum | currency:'VND':'' }} VND
</h4>
