<span style="font-size: 10px;position: absolute; top: 10%;z-index: 200;">
    <span style="color: red;">ĐỪNG XÓA CÁI NÀY NHA </span> <br>
    <a routerLink="/client">client</a> <br>
     <a routerLink="/admin/dashboard">admin</a> <br>
     <a routerLink="/staff/0/dashboard">Staff</a> <br>
     <a routerLink="/store_manager">Store Manager</a> <br>
</span>

<div class="overlay" *ngIf="isLoading">
    <div class="loading-spinner"></div>
</div>

<div class="main-content">
   <router-outlet> </router-outlet>
</div>
